:root,
::before,
::after {
  --font-sans: -apple-system, system-ui, BlinkMacSystemFont, 'Helvetica Neue', 'Helvetica', sans-serif;

  --black: #050502;

  --cadet-50: #e9e9f2;
  --cadet-100: #cfcfe2;
  --cadet-200: #a2a2c8;
  --cadet-300: #7272ab;
  --cadet-400: #4e4e83;
  --cadet-400: #323254;
  --cadet-600: #282843;
  --cadet-700: #1e1e33;
  --cadet-800: #151523;
  --cadet-900: #0a0a10;

  --red-50: #fff0f1;
  --red-100: #fee1e3;
  --red-200: #fec3c8;
  --red-300: #fdaab1;
  --red-400: #fd8c95;
  --red-400: #fc6f7b;
  --red-600: #fb283a;
  --red-700: #d70416;
  --red-800: #8c030e;
  --red-900: #460107;

  --pink-50: #fffafa;
  --pink-100: #fff0f1;
  --pink-200: #ffe0e3;
  --pink-300: #ffccd0;
  --pink-400: #ffbdc2;
  --pink-500: #ffa4ab;
  --pink-600: #ff8a93;
  --pink-700: #ff5c69;
  --pink-800: #fa0015;
  --pink-900: #b8000f;

  --yellow-50: #fffceb;
  --yellow-100: #fff8cc;
  --yellow-200: #fef19a;
  --yellow-300: #fee753;
  --yellow-400: #fddc02;
  --yellow-500: #f1d302;
  --yellow-600: #dabd02;
  --yellow-700: #c0a702;
  --yellow-800: #a28c01;
  --yellow-900: #746501;

  --brown-50: #faf5f5;
  --brown-100: #f3e7e7;
  --brown-200: #e4c9c8;
  --brown-300: #d1a4a3;
  --brown-400: #ba7473;
  --brown-500: #653332;
  --brown-600: #552b2a;
  --brown-700: #4b2625;
  --brown-800: #3d1f1e;
  --brown-900: #291514;
}
